.heading{
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 50%;left: 0;
    transform: translate(-50%);
    height: .1rem;
    width: 250%;
    background: $light-white;
    z-index: -1;
  }
  span{
    font-size: 3rem;
    color: $red;
    background: $black;
    padding: 1rem 1.5rem;
    border: .1rem solid $light-white;
    border-radius: .5rem;
  }
}
.feuatures .box-container{
  @include grid(32rem);
  gap: 0;
  .box{
   background: $light-bg;

   &.scond{
    display: flex;
    flex-flow: column-reverse;
   }
   &:hover .imgae img{
        transform: scale(1.1);
   }

   .imgae{
    height: 30rem;
    width: 100%;
    overflow: hidden;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
   }

   .content{
    padding: 2rem;
    text-align: center;

    img{
      height: 9rem;
      margin-bottom: 1rem;
      filter: invert(1);
    }
    h3{
      font-size: 2rem;
      color: $red;
    }
    p{
      line-height: 2;
      font-size: 1.5rem;
      color: $light-white;
      padding: 1rem 0;
    }
  }
  }
}

@media (max-width:768px) {
  .feuatures .box-container .box.scond{
    flex-flow: column;
  }
  }










