
section{
  padding: 5rem 9%;
}
.btn{
  font-size: 1.5rem;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, $red 93%, transparent 90%);
  color: $white;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
}
.home{
  padding: 0;
  margin-top: 6.5rem;
  .slide{
    min-height: 82vh;
    background-size: cover !important;
    background-position: center!important;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    .content{
      width: 60rem;
      span{
        font-size: 2rem;
        color: $red;
        display: block;
      }
      h3{
        font-size: 5rem;
        color: $white;
        padding: 1rem 0;
      }
    }
  }
}

.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;
  background: $white;
  border-radius: 0;
  &.swiper-pagination-bullet-active{
  background:$red;
}
}




//Media Quary
@media (max-width:991px) {
  section{
    padding: 3rem 2rem;
   .home .slide{
    padding: 2rem 5%;
    .content{
      width: 50rem;
      h3{
        font-size: 4rem;
      }
    }
   }
}
}