//Color Style ;
$black:#000;
$white:#fff;
$light-white:#aaa;
$light-bg:#111;
$red:#f00;


@mixin grid($val){
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html{
  font-size: 65.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x:hidden ;
  &::-webkit-scrollbar{
width: 1rem;
  }
  &::-webkit-scrollbar-track{
    background:$black;
  }
  &::-webkit-scrollbar-thumb{
    background:$red;
  }
}
body{
  background:$black;
}


